.wrapper
  .canvas.bg
<div class="flex">
 <div id="background-video" class="videos">
 
  </div>

 
  <div class="flex2">

   <input type="file" class="d-none" id="addVideosInput" accept=" video/*">
   <button class="btn" id="addVideosBtn">Upload Video</button>
   <button class="btn" id="record">Record</button>
      <input id="radius" type="text" onchange="getRadius(); changeRadius();" placeholder="Radius: default is 30"/>
      <input id="time" value="1" type="text"  placeholder="Time: default is 1"/>  
   </div>
  </div>
     